<!DOCTYPE html>
<html ng-app="bookCollApp">
<head>
    <title>bookColl</title>
    <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
    <script src="libs/angular.js"></script>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <link href="libs/bootstrap.css" rel="stylesheet" />
    <link href="libs/bootstrap-theme.css" rel="stylesheet" />
    <script src="ctrl.js"></script>
    <script src="model.js"></script>
</head>
<body>
  <div class="container" ng-controller="bookCollAppCtrl">
            <h1 class="panel-heading">Коллекция книг</h1>
            <div class="input-group">
              <span class="input-group-addon"><span class="">Найти книги по названию?</span></span>
            <input type="text" ng-model="f.bookName" class="form-control" placeholder="Введите название книги для поиска">
            </div>
                <div class="table">
                  <form class="form" name="bookEditForm" novalidate>
                    <table class="table table-hover " >
                      <thead>
                          <tr>
                              <th>Фамилия автора</th>
                              <th>Имя автора</th>
                              <th>Дата Рождение</th>
                              <th>Имя Книги</th>
                              <th>кол.страниц</th>
                              <th>Жанр</th>
                              <th class="text-center">Действие</th>
                          </tr>
                      </thead>
                      <tr ng-repeat="book in books | filter:f">
                        <td ng-hide='editing'>{{book.writerLastName}}</td>
                        <td ng-show='editing'><input  ng-model='book.writerLastName' limit-to="20" type="text"  placeholder="Фамилия" required ng-minlength=2 ng-pattern="pattern" class="form-control" title="Только русские и латинские буквы"></td>
                        <td ng-hide='editing'>{{book.writerFirstName}}</td>
                        <td ng-show='editing'><input  ng-model='book.writerFirstName' limit-to="20" type="text"  placeholder="Имя" required ng-minlength=2 ng-pattern="pattern" class="form-control" title="Только русские и латинские буквы"></td>
                        <td ng-hide='editing'>{{book.writerBirt}}</td>
                        <td ng-show='editing'><input  ng-model='book.writerBirt' limit-to="20" type="text"  placeholder="Дата Рождение" required ng-minlength=2 class="form-control" ng-pattern="patternDate" title="Только дата в формате дд.мм.гггг" ></td>
                        <td ng-hide='editing'>{{book.bookName}}</td>
                        <td ng-show='editing'><input  ng-model='book.bookName' limit-to="20" type="text" placeholder="Имя Книги" required ng-minlength=2 ng-pattern="patternBookName" class="form-control" title="Только русские и латинские буквы"></td>
                        <td ng-hide='editing'>{{book.pages}}</td>
                        <td ng-show='editing' ><input  ng-model='book.pages' limit-to="20"  type="number"  placeholder="кол. страницр" required ng-minlength=2 class="form-control" title="Только цифры"></td>
                        <td ng-hide='editing'>{{book.gener}}</td>
                        <td ng-show='editing'>  <select  ng-model='book.gener' class="form-control"  required ng-minlength=2 ng-pattern="pattern" title="Только русские и латинские буквы">
                            <option ng-repeat="gener in geners">{{gener.gener}}</option>
                          </select></td>
                        <td ng-hide='editing'><button class="pull-right btn btn-danger btn-xs" ng-click='delBookClick($index)'>Удалить</button><button class="pull-right btn btn-warning btn-xs"  ng-click='editing = true'>Ред.</button></td>
                        <td ng-show='editing'><button class="pull-right btn btn-danger btn-xs" ng-click='delBookClick($index)'>Удалить</button><button class="pull-right btn btn-warning btn-xs" ng-click='editing=false; editBookClick()' ng-disabled="bookEditForm.$invalid">OK</button></td>
                      </tr>
                    </table>
                </form>
              </div>
        <form id="input_add"  name="bookForm" novalidate>
            <div class="row" >
              <div class="col-sm-6 col-md-4">
                  <div class="input-group" >
                    <span class="input-group-addon"><span class="">Фамилия Автора</span></span>
                    <input type="text" limit-to="20" ng-model="newBook.writerLastName" name="LastName" placeholder="Фамилия Автора" class="form-control" required ng-minlength=2 ng-pattern="pattern" title="Только русские и латинские буквы">
                  </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"><span class="">Имя Автора</span></span>
                  <input type="text" limit-to="20" ng-model="newBook.writerFirstName" placeholder="Имя Автора" class="form-control"   required ng-minlength=2 ng-pattern="pattern" title="Только русские и латинские буквы">
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"><span class="">Дата Рождение</span></span>
                  <input type="date"  limit-to="20" ng-model="newBook.writerBirt" placeholder="Дата Рождение Автора" class="form-control"   required ng-minlength=4 title="Только дата в формате дд.мм.гггг">
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"><span class="">Название книги</span></span>
                  <input type="text" limit-to="20" ng-model="newBook.bookName" placeholder="Название книги" class="form-control" required ng-minlength=2 ng-pattern="patternBookName" title="Только русские и латинские буквы" >
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"><span class="">кол. страниц</span></span>
                  <input type="number" limit-to="10" ng-model="newBook.pages" placeholder="кол. страниц" class="form-control" required ng-minlength=2 title="Только цифры" >
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"><span class="">Жанр</span></span>
                    <select  ng-model="newGener.gener" class="form-control"  required ng-minlength=2 ng-pattern="pattern" title="Только русские и латинские буквы">
                      <option value="" disabled selected>Выберите жанр из списка</option>
                      <option ng-repeat="gener in geners">{{gener.gener}}</option>
                    </select>
                </div>
              </div>
            <div class="col-sm-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" ng-click="addBookClick()" ng-disabled="bookForm.$invalid">Добавить в список</button>
                </div>
              </div>
          </div>
        </form>
              <div class="row">
                <form class="formGener" name="formGener" novalidate>
                  <div class="col-md-5">
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default"ng-click="addgenersclick()" ng-disabled="formGener.$invalid" >Добавить Жанр</button>
                        </span>
                      <input type="text" limit-to="20" ng-model="newGener.nGener" placeholder="добавить жанр" class="form-control" required ng-minlength=3 ng-maxlength="20" ng-pattern="patternGener"  title="Только русские и латинские буквы" >
                    </div>
                  </div>
                </form>
            </div>
</div>





</body>
</html>
