.input-group{
  margin-bottom: 15px;
  margin-top: 5px;

}

input.ng-invalid.ng-dirty {
    border: 1px solid  #f76060;
}
.btn {
  margin-right: 2px;
}

table{
    table-layout: fixed;
}

td{
    word-wrap:break-word
}



form.form input{
  height: 24px;
  padding: 0px 0px 0px 3px;
}

form.form select{
  height: 24px;
  padding: 0px 2px;
}

@media only screen and (max-width: 720px) {
    th {
        font-size: 10px;
        margin: 1px;
    }
    td {
        font-size: 12px;
        margin: 1px;
    }

    span {
        font-size: 12px;

    }
}
